@tailwind base;
@tailwind components;
@tailwind utilities;


.left-full {
  left: -100%;
}

.carousel-item {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.carousel-item.active {
  left: 0;
}


.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (max-width: 1023px) {
  /* .main {
    margin-top: 220px;
  } */
}
  

.yamaha-logo {
  background-image: url('../yamaha-logo.png');
}
